mat-grid-tile {
    background: #9C27B0;
}

.compertiment {
    padding: 5px;
    font-size: 20px;
    color: white;
    border-right: 1px solid white;
}

.compertiment:last-child {
    border-right: none;
}