.ticketRequestForm {
    max-width: 500px;
    min-height: 210px;
}

.progress-bar {
    max-width: 70vw;
    margin: 3px 5px 0px 5px;
    padding-top: 3px;
}

.progress-bar-2 {
    max-width: 65vw;
    margin: 5px 5px 0px 5px;
    padding-top: 3px;
}

.compartment-p {
    display: flex;
}

.example-full-width {
    width: 100%;
  }
error-h3 {
    color: red;
}
