<mat-checkbox (change)="onSetTheme($event)">Tema intunecata</mat-checkbox>
<div class="container">
  <div class="row">

    <div class="col-4">
      
      <mat-card class="row">
        <mat-card-header>
          <mat-card-title>Cumpara bilete</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="ticketRequestFormGroup" (ngSubmit)="onSubmit()" class="ticketRequestForm">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Numar bilete" type="number" min="1" max="5" formControlName="numberOfPersons" name="numberOfPersons">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Statie plecare" formControlName="startStation" name="startStation" required>
                <mat-option [value]="null">--</mat-option>
                <mat-option *ngFor="let station of startStations" [value]="station">
                  {{station.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="ticketRequestFormGroup.get('startStation').value">
              <mat-select placeholder="Statie oprire" formControlName="endStation" name="endStation" required>
                <mat-option [value]="null">--</mat-option>
                <mat-option *ngFor="let station of getEndStations()" [value]="station">
                  {{station.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-stroked-button color="accent" type="submit">Cumpara</button>
          </form>
        </mat-card-content>
      </mat-card>
      
      <mat-card class="row">
        <mat-card-header>
          <mat-card-title>Biletele tale</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list" *ngIf="tickets">
              <mat-list-item role="listitem" *ngFor="let ticket of tickets">Plecare: {{ticket.initialStationName}}. Destinatie: {{ticket.finalStationName}}. Vagon: {{ticket.cart}}. Compartiment:{{ticket.compartment}}. Loc: {{ticket.seat}}.</mat-list-item>
            </mat-list>
        </mat-card-content>
      </mat-card>

    </div>
    
    <div class="col-8">
      
      <mat-card class="row">
        <mat-card-header>
          <mat-card-title>Disponibilitate locuri</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-select placeholder="Statie" [(ngModel)]="selectedStation">
              <mat-option *ngFor="let station of stations" [value]="station">
                {{station.name}}
              </mat-option>
            </mat-select>            
          </mat-form-field>
          <div *ngIf="selectedStation">
            <app-train-displayer fxShow="true" fxHide.lt-md="true" [stationNumber]="selectedStation.stationNumber"></app-train-displayer>
            <mat-accordion>
              <mat-expansion-panel *ngFor="let cart of selectedStation.carts">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Vagon {{cart.cartNumber}} ocupat: <mat-progress-bar mode="determinate" [value]="(80 - cart.availability) / 80 * 100" class="progress-bar"></mat-progress-bar> {{80 - cart.availability}}/80
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <p *ngFor="let compartment of cart.compartments" class="compartment-p">
                  Compartiment {{compartment.compartmentNumber}} ocupat: <mat-progress-bar mode="determinate" [value]="(8 - compartment.availability) / 8 * 100" class="progress-bar-2"></mat-progress-bar> {{8 - compartment.availability}}/8
                </p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
    
  </div>
</div>


  

